<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.senac.cestadeferramenta">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.Camera.autofocus"
        android:required="false" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".JogoDaVelhaActivity"
            android:label="Jogo da Velha"></activity>
        <activity
            android:name=".ui.CadastroPhoneActivity"
            android:label="Cadastro de Phone"></activity>
        <activity
            android:name=".ui.ListagemPhoneActivity"
            android:label="Listagem TelePhone" />
        <activity
            android:name=".ui.ProdutoActivity"
            android:label="Produto" />
        <activity
            android:name=".ui.Listagem"
            android:label="@string/title_activity_listagem" />
        <activity
            android:name=".ui.Sobre"
            android:label="Sobre" />
        <activity
            android:name=".ui.Conversao"
            android:label="Conversão Byte" />
        <activity
            android:name=".ui.Calculo"
            android:label="Cálculo IMC" />
        <activity
            android:name=".ui.Principal"
            android:label="@string/title_activity_principal" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>